.mb-3 {
    width: 80%;
    max-width: 700px;
    min-width: 10px;
    padding: 20px 30px 20px 30px;
    margin: 20px 20px;
}

.col-md-1 {
    max-width: 400px;
    min-width: 300px;
    padding: 20px 20px;
    margin: 0px 20px;
}

.mb-4 {
    max-width: 700px;
    padding: 10px 30px 10px 30px;
    margin: auto 300px auto;
}

.btn-success, .btn-secondary, .btn-danger {
    width: 100px;
}